.App {
  text-align: center;
}

.App-header {
  position: absolute;
  width: 1440px;
  height: 112px;
  left: 0px;
  top: 0px;
}

.logo {
  z-index: 2;
  position: absolute;
  width: 120px;
  height: 43.3px;
  left: 1250px;
  top: 41px;
}
