@import url("./Fonts.css");
.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 65.76px;
  line-height: 80px;
}
.subtitle {
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: normal;
  font-size: 22.781px;
  line-height: 32px;

  color: #e73f39;
}
.normalText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 22.78px;
  line-height: 32px;
}
.cardNameSurname {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 20.25px;
  line-height: 28px;
}
.cardText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.searchBtn {
  color: white;
  background: #e73f39;
}

/*CARD ANIMATION*/
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
  border-radius: 0.25rem;
}

.card-back {
  background-color: #fedd27;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  border-radius: 0.25rem;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}
.backGroundImg {
  position: absolute;
  width: 50%;
  height: 700px;
  left: 50%;
  top: 200px;

  background: url(https://s3-alpha-sig.figma.com/img/8157/b9c3/073ea9030f747b2194ba13d3e29187c4?Expires=1620604800&Signature=K3HQF1TY47lBTwfWcKWfrCKcpm6djRdurevBb4eiCY9WsfC12AazHxhapYiE8d5bY45uI0-HoC~FDRyvCyUGv3ssB2auQvQcgz~jWCMZ6peqXWwjogwbled~dLFlHY3N6gFjmOFIenRamkJwCkUbJvlQ-Ox0GVpJU0A0SFd1PWRqBM-BwqQJTLPq1GGxApx76JbGxbQbQQaTLvLTye~bcB1J3f2q2AS1Dlg0h9KPr6P9UCzhXXV7UdzRcDTgW5UCjYTGsuxE9oAJ47E0Fe5xbEwko3wPFbLUJnDW7TnxZWNfITHXeJsrLM1kY~ure7iS-AktahEtLbQ4rqLSgXFYXQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  background-size: cover;
}
