@import url("./Fonts.css");
.personImg {
  position: absolute;
  width: 45%;
  height: 83.25%;
  left: -6.57px;
}
.firsName {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 58.455px;
  line-height: 72px;
}
.title2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 36.49px;
  line-height: 44px;
  margin-top: 10rem;
}
.roundedCircleAbility {
  display: flex;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #e73f39;
  box-sizing: border-box;
  border-radius: 29px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 28px;
  color: #e73f39;
  transition: 0.3s ease-in-out;
}
.roundedCircleAbility:hover {
  background-color: #e73f39;
  color: white;
  border: 1px solid black;
  font-weight: bold;
}
.roundedCircleAbilitySelected {
  display: flex;
  justify-content: center;
  width: 110px;
  height: 32px;
  background: #e73f39;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 29px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 28px;
  color: white;
  transition: 0.3s ease-in-out;
}

.blogTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 20.25px;
  line-height: 28px;
}
.blogAuthor {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 12.642px;
  line-height: 20px;
}
.backGruoundImgDetails {
  position: absolute;
  width: 50%;
  height: 500px;
  left: 50%;

  background: url(https://s3-alpha-sig.figma.com/img/8157/b9c3/073ea9030f747b2194ba13d3e29187c4?Expires=1620604800&Signature=K3HQF1TY47lBTwfWcKWfrCKcpm6djRdurevBb4eiCY9WsfC12AazHxhapYiE8d5bY45uI0-HoC~FDRyvCyUGv3ssB2auQvQcgz~jWCMZ6peqXWwjogwbled~dLFlHY3N6gFjmOFIenRamkJwCkUbJvlQ-Ox0GVpJU0A0SFd1PWRqBM-BwqQJTLPq1GGxApx76JbGxbQbQQaTLvLTye~bcB1J3f2q2AS1Dlg0h9KPr6P9UCzhXXV7UdzRcDTgW5UCjYTGsuxE9oAJ47E0Fe5xbEwko3wPFbLUJnDW7TnxZWNfITHXeJsrLM1kY~ure7iS-AktahEtLbQ4rqLSgXFYXQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  background-size: cover;
}
